In [77]:
import pandas as pd

In [78]:
import numpy as np

In [79]:
df=pd.read_csv('Melbourne_housing_FULL.csv')

In [80]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [81]:
df=df.dropna()
df.drop('Propertycount',axis=1)

df.drop('SellerG',axis=1)

,Suburb,Address,Rooms,Type,Price,Method,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.80720,144.99410,Northern Metropolitan,4019.0
11,Abbotsford,124 Yarra St,3,h,1876000.0,S,7/05/2016,2.5,3067.0,4.0,2.0,0.0,245.0,210.0,1910.0,Yarra City Council,-37.80240,144.99930,Northern Metropolitan,4019.0
14,Abbotsford,98 Charles St,2,h,1636000.0,S,8/10/2016,2.5,3067.0,2.0,1.0,2.0,256.0,107.0,1890.0,Yarra City Council,-37.80600,144.99540,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34847,Wollert,27 Birchmore Rd,3,h,500000.0,PI,24/02/2018,25.5,3750.0,3.0,2.0,2.0,383.0,118.0,2016.0,Whittlesea City Council,-37.61940,145.03951,Northern Metropolitan,2940.0
34849,Wollert,35 Kingscote Wy,3,h,570000.0,SP,24/02/2018,25.5,3750.0,3.0,2.0,2.0,404.0,158.0,2012.0,Whittlesea City Council,-37.61031,145.03393,Northern Metropolitan,2940.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,24/02/2018,6.3,3013.0,2.0,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,24/02/2018,6.3,3013.0,2.0,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,24/02/2018,6.3,3013.0,2.0,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [82]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Assuming df5 is your DataFrame
# Initialize the label encoder
label_encoder = LabelEncoder()

# Loop through each column and apply label encoding if the column is of object type
for column in df.columns:
    if df[column].dtype == 'object':
        df[column] = label_encoder.fit_transform(df[column])

df

C:\Users\user\AppData\Local\Temp\ipykernel_14956\112264365.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = label_encoder.fit_transform(df[column])
C:\Users\user\AppData\Local\Temp\ipykernel_14956\112264365.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = label_encoder.fit_transform(df[column])
C:\Users\user\AppData\Local\Temp\ipykernel_14956\112264365.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = label_encoder.fit_transform(df[column])
C:\Users\user\AppData\Local\Temp\ipykernel_14956\112264365.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = label_encoder.fit_transform(df[column])
C:\Users\user\AppData\Local\Temp\ipykernel_14956\112264365.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = label_encoder.fit_transform(df[column])
C:\Users\user\AppData\Local\Temp\ipykernel_14956\112264365.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = label_encoder.fit_transform(df[column])
C:\Users\user\AppData\Local\Temp\ipykernel_14956\112264365.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = label_encoder.fit_transform(df[column])
C:\Users\user\AppData\Local\Temp\ipykernel_14956\112264365.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = label_encoder.fit_transform(df[column])

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
2,0,3922,2,0,1035000.0,1,22,62,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,31,-37.80790,144.99340,2,4019.0
4,0,6458,3,0,1465000.0,3,22,63,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,31,-37.80930,144.99440,2,4019.0
6,0,6960,4,0,1600000.0,4,147,64,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,31,-37.80720,144.99410,2,4019.0
11,0,1374,3,0,1876000.0,1,147,69,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,31,-37.80240,144.99930,2,4019.0
14,0,8740,2,0,1636000.0,1,147,74,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,31,-37.80600,144.99540,2,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34847,310,4138,3,0,500000.0,0,183,38,25.5,3750.0,...,2.0,2.0,383.0,118.0,2016.0,29,-37.61940,145.03951,2,2940.0
34849,310,5297,3,0,570000.0,3,180,38,25.5,3750.0,...,2.0,2.0,404.0,158.0,2012.0,29,-37.61031,145.03393,2,2940.0
34853,314,4407,2,0,888000.0,3,205,38,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,16,-37.81551,144.88826,6,6543.0
34854,314,1853,2,1,705000.0,1,98,38,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,16,-37.82286,144.87856,6,6543.0
34856,314,4624,2,0,1020000.0,0,180,38,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,16,-37.81810,144.89351,6,6543.0

In [83]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [84]:
correlation_matrix = df.corr()
df=df.drop("Lattitude",axis=1)
# Extract correlation values for the 'price' column
price_correlation = correlation_matrix['Price']

print(price_correlation)

Suburb          -0.128347
Address          0.064541
Rooms            0.475074
Type            -0.363646
Price            1.000000
Method          -0.009966
SellerG         -0.059700
Date            -0.029495
Distance        -0.231212
Postcode         0.046033
Bedroom2         0.460880
Bathroom         0.463501
Car              0.209464
Landsize         0.058375
BuildingArea     0.507284
YearBuilt       -0.313664
CouncilArea     -0.124280
Lattitude       -0.224255
Longtitude       0.212174
Regionname       0.087636
Propertycount   -0.059720
Name: Price, dtype: float64

In [85]:
df=df.drop("Longtitude",axis=1)

In [86]:

df=df.drop('Suburb',axis=1)
df=df.drop('SellerG',axis=1)
df=df.drop('Method',axis=1)
df=df.drop('Distance',axis=1)
df=df.drop('Type',axis=1)
df=df.drop('Date',axis=1)
df=df.drop("Address",axis=1)
df=df.drop('Propertycount',axis=1)

In [87]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score

# Load your dataset
# df = pd.read_csv('your_dataset.csv')  # Uncomment and modify this line to load your dataset



# Encode categorical features if any
label_encoder = LabelEncoder()
for column in df.columns:
    if df[column].dtype == 'object':
        df[column] = label_encoder.fit_transform(df[column])

# Separate features and target variable
X = df.drop('Price', axis=1)
y = df['Price']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define the models
models = {
    'Linear Regression': LinearRegression(),
    'Decision Tree': DecisionTreeRegressor(),
    'Random Forest': RandomForestRegressor(),
    'Support Vector Regressor': SVR()
}

# Train and evaluate each model
for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    print(f"{model_name}:\n Mean Squared Error: {mse}\n R^2 Score: {r2}\n")

Linear Regression:
 Mean Squared Error: 191872188568.19397
 R^2 Score: 0.5006077339134691

Decision Tree:
 Mean Squared Error: 171470800621.12936
 R^2 Score: 0.5537071196776231

Random Forest:
 Mean Squared Error: 72023718916.391
 R^2 Score: 0.8125414190037641

Support Vector Regressor:
 Mean Squared Error: 414057060889.375
 R^2 Score: -0.07768038437307112

In [88]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import joblib

# Load your dataset
# df = pd.read_csv('your_dataset.csv')  # Uncomment and modify this line to load your dataset

# For demonstration, let's assume df is already loaded and preprocessed

# Encode categorical features if any
label_encoder = LabelEncoder()
for column in df.columns:
    if df[column].dtype == 'object':
        df[column] = label_encoder.fit_transform(df[column])

# Separate features and target variable
X = df.drop('Price', axis=1)
y = df['Price']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the Random Forest Regressor
rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)

# Make predictions
y_pred = rf_model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Print the evaluation metrics
print("Random Forest Regressor:")
print(f"Mean Squared Error: {mse}")
print(f"R^2 Score: {r2}")

# Create a DataFrame to display entire testing data with actual and predicted prices
output_data = pd.DataFrame({
    **X_test,  # Include all features from X_test
    'Actual Price': y_test,
    'Predicted Price': y_pred
})

# Display all output data
print(output_data)

# Save the trained model to a .pkl file
joblib.dump(rf_model, 'random_forest_regressor_model.pkl')

Random Forest Regressor:
Mean Squared Error: 73356546058.58669
R^2 Score: 0.8090724245037813
       Rooms  Postcode  Bedroom2  Bathroom  Car  Landsize  BuildingArea
19274      5    3103.0       5.0       4.0  2.0     729.0           1.0  \
26999      4    3156.0       4.0       3.0  2.0     737.0         208.0
19255      3    3021.0       3.0       1.0  3.0     566.0         126.0
15681      4    3059.0       3.0       2.0  2.0     538.0         154.0
18605      3    3048.0       3.0       1.0  2.0     798.0         128.0
...      ...       ...       ...       ...  ...       ...           ...
31641      3    3064.0       3.0       1.0  2.0     649.0         167.0
15975      3    3020.0       3.0       1.0  2.0     631.0         115.0
23256      4    3144.0       4.0       2.0  3.0     620.0         339.0
23328      3    3149.0       3.0       2.0  1.0     470.0         118.0
19343      2    3124.0       2.0       1.0  1.0    1625.0           1.0

       YearBuilt  CouncilArea  Regionname  Actual Price  Predicted Price
19274     2012.0            2           5     3812000.0       2448460.00
26999     1950.0           13           0      840000.0       1059830.00
19255     1980.0            3           6      555000.0        569390.00
15681     2000.0           11           2      645000.0        663935.00
18605     1985.0           11           2      520000.0        644541.33
...          ...          ...         ...           ...              ...
31641     1990.0           11           2      540000.0        605297.50
15975     1965.0            3           6      805000.0        647485.00
23256     1930.0           27           5     3080000.0       3656000.00
23328     1960.0           21           0     1028800.0       1157230.00
19343     1960.0            2           5      600800.0        852081.34

[1778 rows x 12 columns]

['random_forest_regressor_model.pkl']

In [89]:
output_data

,Rooms,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Regionname,Actual Price,Predicted Price
19274,5,3103.0,5.0,4.0,2.0,729.0,1.0,2012.0,2,5,3812000.0,2448460.00
26999,4,3156.0,4.0,3.0,2.0,737.0,208.0,1950.0,13,0,840000.0,1059830.00
19255,3,3021.0,3.0,1.0,3.0,566.0,126.0,1980.0,3,6,555000.0,569390.00
15681,4,3059.0,3.0,2.0,2.0,538.0,154.0,2000.0,11,2,645000.0,663935.00
18605,3,3048.0,3.0,1.0,2.0,798.0,128.0,1985.0,11,2,520000.0,644541.33
...,...,...,...,...,...,...,...,...,...,...,...,...
31641,3,3064.0,3.0,1.0,2.0,649.0,167.0,1990.0,11,2,540000.0,605297.50
15975,3,3020.0,3.0,1.0,2.0,631.0,115.0,1965.0,3,6,805000.0,647485.00
23256,4,3144.0,4.0,2.0,3.0,620.0,339.0,1930.0,27,5,3080000.0,3656000.00
23328,3,3149.0,3.0,2.0,1.0,470.0,118.0,1960.0,21,0,1028800.0,1157230.00
19343,2,3124.0,2.0,1.0,1.0,1625.0,1.0,1960.0,2,5,600800.0,852081.34

In [90]:
df

,Rooms,Price,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Regionname
2,2,1035000.0,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,31,2
4,3,1465000.0,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,31,2
6,4,1600000.0,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,31,2
11,3,1876000.0,3067.0,4.0,2.0,0.0,245.0,210.0,1910.0,31,2
14,2,1636000.0,3067.0,2.0,1.0,2.0,256.0,107.0,1890.0,31,2
...,...,...,...,...,...,...,...,...,...,...,...
34847,3,500000.0,3750.0,3.0,2.0,2.0,383.0,118.0,2016.0,29,2
34849,3,570000.0,3750.0,3.0,2.0,2.0,404.0,158.0,2012.0,29,2
34853,2,888000.0,3013.0,2.0,2.0,1.0,98.0,104.0,2018.0,16,6
34854,2,705000.0,3013.0,2.0,1.0,2.0,220.0,120.0,2000.0,16,6
34856,2,1020000.0,3013.0,2.0,1.0,0.0,250.0,103.0,1930.0,16,6